In [1]:
import pandas as pd
import basedosdados as bd
import plotly.express as px

In [2]:
# acessa os dados eleitorais a nível de município

query = """
SELECT ano, id_municipio, sequencial_candidato, sigla_partido, cargo, tipo_eleicao, votos, resultado
FROM basedosdados.br_tse_eleicoes.resultados_candidato_municipio
WHERE ano in (2020, 2016, 2012, 2008, 2004, 2000)
AND id_municipio = '3304557'
"""

eleicoes = bd.read_sql(query, billing_project_id="diamundialdainfancia")

Downloading: 100%|██████████| 10384/10384 [00:06<00:00, 1695.18rows/s]

In [3]:
eleicoes = eleicoes.drop_duplicates()

In [4]:
flt = (eleicoes['cargo'] == 'prefeito') & (eleicoes['resultado'].isin(['eleito', '2º turno']))

eleicoes[flt].sort_values(['ano', 'resultado'])

,ano,id_municipio,sequencial_candidato,sigla_partido,cargo,tipo_eleicao,votos,resultado
3,2000,3304557,None,PTB,prefeito,eleicao ordinaria,747132,2º turno
5,2000,3304557,None,PFL,prefeito,eleicao ordinaria,1124915,2º turno
990,2004,3304557,400,PFL,prefeito,eleicao ordinaria,1728853,eleito
2097,2008,3304557,395,PMDB,prefeito,eleicao ordinaria,1049019,2º turno
2102,2008,3304557,1393,PV,prefeito,eleicao ordinaria,839994,2º turno
3302,2008,3304557,395,PMDB,prefeito,eleicao ordinaria,1696195,eleito
6631,2012,3304557,190000004018,PMDB,prefeito,eleicao ordinaria,2097733,eleito
5012,2016,3304557,190000017952,REPUBLICANOS,prefeito,eleicao ordinaria,842201,2º turno
5020,2016,3304557,190000003384,PSOL,prefeito,eleicao ordinaria,553424,2º turno
6629,2016,3304557,190000017952,REPUBLICANOS,prefeito,eleicao ordinaria,1700030,eleito
3304,2020,3304557,190000684240,REPUBLICANOS,prefeito,eleicao ordinaria,576825,2º turno
3312,2020,3304557,190000688286,DEM,prefeito,eleicao ordinaria,974804,2º turno
5011,2020,3304557,190000688286,DEM,prefeito,eleicao ordinaria,1629319,eleito

In [5]:
flt = (eleicoes['cargo'] == 'vereador') & (eleicoes['resultado'].isin(['eleito por qp', 'eleito por media', 'eleito']))

eleicoes[flt].groupby(['sigla_partido', 'ano'])['sigla_partido'].count().reset_index(name = 'n')

     sigla_partido   ano  n
0           AVANTE  2016  1
1           AVANTE  2020  3
2        CIDADANIA  2020  2
3               DC  2020  1
4              DEM  2008  8
..             ...   ... ..
104             PV  2012  1
105   REPUBLICANOS  2016  3
106   REPUBLICANOS  2020  7
107  SOLIDARIEDADE  2016  2
108  SOLIDARIEDADE  2020  1

[109 rows x 3 columns]

In [6]:
eleicoes[flt].groupby(['ano'])['sigla_partido'].nunique().reset_index(name = 'n')

    ano   n
0  2000  12
1  2004  15
2  2008  21
3  2012  20
4  2016  19
5  2020  22

In [7]:
flt = (eleicoes['cargo'] == 'vereador') & (eleicoes['resultado'].isin(['eleito por qp', 'eleito por media', 'eleito']) & (eleicoes['ano'] == 2020))

vereadores_2020 = eleicoes[flt].groupby('sigla_partido')['sigla_partido'].count().reset_index(name = 'n')

vereadores_2020['%'] = ((vereadores_2020['n'] / vereadores_2020['n'].sum()) * 100).round(2)

vereadores_2020.sort_values('%', ascending = False)

    sigla_partido  n      %
20   REPUBLICANOS  7  13.73
3             DEM  7  13.73
16           PSOL  7  13.73
0          AVANTE  3   5.88
17             PT  3   5.88
14            PSD  3   5.88
1       CIDADANIA  2   3.92
18            PTB  2   3.92
13            PSC  2   3.92
11             PP  2   3.92
8              PL  2   3.92
10           PODE  1   1.96
9             PMN  1   1.96
12           PROS  1   1.96
7             PDT  1   1.96
15            PSL  1   1.96
6        PATRIOTA  1   1.96
5            NOVO  1   1.96
4             MDB  1   1.96
19            PTC  1   1.96
2              DC  1   1.96
21  SOLIDARIEDADE  1   1.96